<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
">
    <!-- 加载属性文件 -->
    <context:property-placeholder file-encoding="utf-8" 
                                   location="classpath:prop/jdbc.properties,
                                   classpath:prop/app.properties,
                                   classpath:prop/dubbo.properties,
                                   classpath*:message/messages.properties"/><!-- 引用全流通 -->
    <context:annotation-config />
    <context:component-scan base-package="mb.mba.service" />  
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-dubbo-server.xml"/>
    <import resource="spring-activemq.xml"/>
    <import resource="classpath*:applicationContext-load-old.xml" /><!-- 引用全流通 -->
</beans>
