<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"   
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:tx="http://www.springframework.org/schema/tx"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd   
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd   
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd   
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    
    <description>spring JTA</description>
    
    <!-- 指定spring配置中用到的属性文件 -->
    <bean id="propertyConfig"   class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- JOTM实例 JotmFactoryBean -->
    <bean id="jotm" class="com.yucy.jotm.JotmFactoryBean" />
    
    <!-- JTA事务管理器 -->
    <bean id="jtaTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
        <property name="userTransaction" ref="jotm" />
    </bean>
    
     <!-- 配置数据源A -->
    <bean name="dataSourceA" class="org.enhydra.jdbc.pool.StandardXAPoolDataSource" destroy-method="shutdown">
<!--         <property name="url"     value="${jdbcUrlB}" />   -->
<!--         <property name="username" value="${userB}" />   -->
<!--         <property name="password" value="${passwordB}" />   -->
<!--         <property name="initialSize" value="${initialPoolSizeB}" />   -->
<!--         <property name="maxWait" value="${maxIdleTimeB}" />   -->
<!--         <property name="maxActive" value="${maxPoolSizeB}" />   -->
<!--         <property name="testWhileIdle"  value="false"/> -->
        <property name="dataSource">  
            <bean class="org.enhydra.jdbc.standard.StandardXADataSource"  
                destroy-method="shutdown">  
                <property name="transactionManager" ref="jotm"></property>  
                <property name="driverName" value="com.mysql.jdbc.Driver"></property>  
                <property name="url" value="${jdbcUrlA}"></property>  
            </bean>  
        </property>  
        <property name="user" value="${userA}" />  
        <property name="password" value="${passwordA}" />
    </bean>  
    
         <!-- 配置数据源B com.alibaba.druid.pool.DruidDataSource -->
    <bean name="dataSourceB" class="org.enhydra.jdbc.pool.StandardXAPoolDataSource" destroy-method="shutdown">
<!--         <property name="url"     value="${jdbcUrlB}" />   -->
<!--         <property name="username" value="${userB}" />   -->
<!--         <property name="password" value="${passwordB}" />   -->
<!--         <property name="initialSize" value="${initialPoolSizeB}" />   -->
<!--         <property name="maxWait" value="${maxIdleTimeB}" />   -->
<!--         <property name="maxActive" value="${maxPoolSizeB}" />   -->
<!--         <property name="testWhileIdle"  value="false"/> -->
        <property name="dataSource">  
            <bean class="org.enhydra.jdbc.standard.StandardXADataSource"  
                destroy-method="shutdown">  
                <property name="transactionManager" ref="jotm"></property>  
                <property name="driverName" value="com.mysql.jdbc.Driver"></property>  
                <property name="url" value="${jdbcUrlB}"></property>  
            </bean>  
        </property>  
        <property name="user" value="${userB}" />  
        <property name="password" value="${passwordB}" />
    </bean>  
    
    <!-- springjdbc -->
    <bean id="jdbcTemplateA"  class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceA" />
    </bean>
    
    <bean id="jdbcTemplateB"  class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceB" />
    </bean>
    
    <!-- com.yucy.jotm.service.impl -->
    <aop:config>
        <aop:pointcut id="pointCut" expression="execution( * com.yucy.jotm.service.impl.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointCut"/>
    </aop:config>
    
    <!-- 通知配置 -->
    <tx:advice id="txAdvice" transaction-manager="jtaTransactionManager">
        <tx:attributes>
            <tx:method name="delete*" rollback-for="Exception"/>
            <tx:method name="save*" rollback-for="Exception"/>
            <tx:method name="update*" rollback-for="Exception"/>
            <tx:method name="find*"  read-only="true" rollback-for="Exception"/>
        </tx:attributes>
    </tx:advice>
    
    <bean id="genericDao"   class="com.yucy.jotm.dao.impl.GenericDaoImpl" />
    
    <bean id="userService"   class="com.yucy.jotm.service.impl.UserServiceImpl" />
        
</beans>