<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <settings> <setting name="cacheEnabled" value="true" /> <setting name="lazyLoadingEnabled" 
		value="true" /> <setting name="multipleResultSetsEnabled" value="true" /> 
		<setting name="useColumnLabel" value="true" /> <setting name="useGeneratedKeys" 
		value="false" /> <setting name="enhancementEnabled" value="false" /> <setting 
		name="defaultExecutorType" value="SIMPLE" /> </settings> -->
	<mappers>
	    <mapper resource="mapper/SfSchTaskExecOosMapper.xml" />
        <mapper resource="mapper/SfIdtMapper.xml" />
        <mapper resource="mapper/SfIdtAllocDtlMapper.xml" />
        <mapper resource="mapper/NewTmpInvalidDefMapper.xml" />
        <mapper resource="mapper/SfDgnMapper.xml" />
        <mapper resource="mapper/NewERPCommnMapper.xml" />
        <mapper resource="mapper/SfRvdMapper.xml" />
        <mapper resource="mapper/PrWprcListDtlMapper.xml" />
        <mapper resource="mapper/BfOrgMapper.xml" />
        <mapper resource="mapper/PrAgentRateListMapper.xml" />
        <mapper resource="mapper/PrPrcListDtlMapper.xml" />
        <mapper resource="mapper/PoPrcListDtlMapper.xml" />
        <mapper resource="mapper/FiGrpCostMapper.xml" />
        <mapper resource="mapper/SfProfitShareRatioListMapper.xml" />
        <mapper resource="mapper/SfGdnMapper.xml" />
        <mapper resource="mapper/DrTbnMapper.xml" />
        <mapper resource="mapper/SfGrnMapper.xml" />
        <mapper resource="mapper/SfDocFlowMapper.xml" />
		<mapper resource="mapper/RpAgentUnitCostMapper.xml" />
        <mapper resource="mapper/NewBalanceMapper.xml" />
        <mapper resource="mapper/SfWarehouseMapper.xml" />
        <mapper resource="mapper/SfWarehProdMapper.xml" />
        <mapper resource="mapper/SfWarehTranMapper.xml" />
        <mapper resource="mapper/FiCostGrpMapper.xml" />
        <mapper resource="mapper/FiFsclMonthMapper.xml" />
	</mappers>
</configuration>
