<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mb.mba.center.dao.CostAccountingInventoryTypeEntityMapper" >
  <resultMap id="BaseResultMap" type="mb.mba.core.entity.CostAccountingInventoryTypeEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cost_id" property="costId" jdbcType="BIGINT" />
    <result column="inoutwareh_code" property="inoutwarehCode" jdbcType="VARCHAR" />
    <result column="inoutwareh_name" property="inoutwarehName" jdbcType="VARCHAR" />
    <result column="isvalid" property="isvalid" jdbcType="CHAR" />
    <result column="create_oper" property="createOper" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_oper" property="modifyOper" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cost_id, inoutwareh_code, inoutwareh_name, isvalid, create_oper, create_time, 
    modify_oper, modify_time, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cost_accounting_inventory_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cost_accounting_inventory_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="mb.mba.core.entity.CostAccountingInventoryTypeEntity" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cost_accounting_inventory_type (cost_id, inoutwareh_code, inoutwareh_name, 
      isvalid, create_oper, create_time, 
      modify_oper, modify_time, remarks
      )
    values (#{costId,jdbcType=BIGINT}, #{inoutwarehCode,jdbcType=VARCHAR}, #{inoutwarehName,jdbcType=VARCHAR}, 
      #{isvalid,jdbcType=CHAR}, #{createOper,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyOper,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="mb.mba.core.entity.CostAccountingInventoryTypeEntity" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cost_accounting_inventory_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="costId != null" >
        cost_id,
      </if>
      <if test="inoutwarehCode != null" >
        inoutwareh_code,
      </if>
      <if test="inoutwarehName != null" >
        inoutwareh_name,
      </if>
      <if test="isvalid != null" >
        isvalid,
      </if>
      <if test="createOper != null" >
        create_oper,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyOper != null" >
        modify_oper,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="costId != null" >
        #{costId,jdbcType=BIGINT},
      </if>
      <if test="inoutwarehCode != null" >
        #{inoutwarehCode,jdbcType=VARCHAR},
      </if>
      <if test="inoutwarehName != null" >
        #{inoutwarehName,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=CHAR},
      </if>
      <if test="createOper != null" >
        #{createOper,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyOper != null" >
        #{modifyOper,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mb.mba.core.entity.CostAccountingInventoryTypeEntity" >
    update cost_accounting_inventory_type
    <set >
      <if test="costId != null" >
        cost_id = #{costId,jdbcType=BIGINT},
      </if>
      <if test="inoutwarehCode != null" >
        inoutwareh_code = #{inoutwarehCode,jdbcType=VARCHAR},
      </if>
      <if test="inoutwarehName != null" >
        inoutwareh_name = #{inoutwarehName,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=CHAR},
      </if>
      <if test="createOper != null" >
        create_oper = #{createOper,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyOper != null" >
        modify_oper = #{modifyOper,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="mb.mba.core.entity.CostAccountingInventoryTypeEntity" >
    update cost_accounting_inventory_type
    set cost_id = #{costId,jdbcType=BIGINT},
      inoutwareh_code = #{inoutwarehCode,jdbcType=VARCHAR},
      inoutwareh_name = #{inoutwarehName,jdbcType=VARCHAR},
      isvalid = #{isvalid,jdbcType=CHAR},
      create_oper = #{createOper,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_oper = #{modifyOper,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>