<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mb.mba.center.dao.InventoryTransEntityMapper" >
  <resultMap id="BaseResultMap" type="mb.mba.core.entity.InventoryTransEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="wareh_code" property="warehCode" jdbcType="VARCHAR" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="doc_type" property="docType" jdbcType="VARCHAR" />
    <result column="doc_num" property="docNum" jdbcType="VARCHAR" />
    <result column="tran_quantity" property="tranQuantity" jdbcType="DECIMAL" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="tran_time" property="tranTime" jdbcType="TIMESTAMP" />
    <result column="isvalid" property="isvalid" jdbcType="CHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, wareh_code, goods_code, doc_type, doc_num, tran_quantity, balance, tran_time, 
    isvalid, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from inventory_trans
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from inventory_trans
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="mb.mba.core.entity.InventoryTransEntity" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into inventory_trans (wareh_code, goods_code, doc_type, 
      doc_num, tran_quantity, balance, 
      tran_time, isvalid, remarks
      )
    values (#{warehCode,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, #{docType,jdbcType=VARCHAR}, 
      #{docNum,jdbcType=VARCHAR}, #{tranQuantity,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, 
      #{tranTime,jdbcType=TIMESTAMP}, #{isvalid,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="mb.mba.core.entity.InventoryTransEntity" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into inventory_trans
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="warehCode != null" >
        wareh_code,
      </if>
      <if test="goodsCode != null" >
        goods_code,
      </if>
      <if test="docType != null" >
        doc_type,
      </if>
      <if test="docNum != null" >
        doc_num,
      </if>
      <if test="tranQuantity != null" >
        tran_quantity,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="tranTime != null" >
        tran_time,
      </if>
      <if test="isvalid != null" >
        isvalid,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="warehCode != null" >
        #{warehCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="docType != null" >
        #{docType,jdbcType=VARCHAR},
      </if>
      <if test="docNum != null" >
        #{docNum,jdbcType=VARCHAR},
      </if>
      <if test="tranQuantity != null" >
        #{tranQuantity,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="tranTime != null" >
        #{tranTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mb.mba.core.entity.InventoryTransEntity" >
    update inventory_trans
    <set >
      <if test="warehCode != null" >
        wareh_code = #{warehCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="docType != null" >
        doc_type = #{docType,jdbcType=VARCHAR},
      </if>
      <if test="docNum != null" >
        doc_num = #{docNum,jdbcType=VARCHAR},
      </if>
      <if test="tranQuantity != null" >
        tran_quantity = #{tranQuantity,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="tranTime != null" >
        tran_time = #{tranTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="mb.mba.core.entity.InventoryTransEntity" >
    update inventory_trans
    set wareh_code = #{warehCode,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      doc_type = #{docType,jdbcType=VARCHAR},
      doc_num = #{docNum,jdbcType=VARCHAR},
      tran_quantity = #{tranQuantity,jdbcType=DECIMAL},
      balance = #{balance,jdbcType=DECIMAL},
      tran_time = #{tranTime,jdbcType=TIMESTAMP},
      isvalid = #{isvalid,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>